/* dark-styles.css */

body {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
  
  .card-container {
    background-color: #262626;
    border: 1px solid #444;
  }
  
  .card {
    background-color: #333;
    border: 1px solid #555;
  }
  
  .card-front {
    background-color: #555;
    color: #e0e0e0;
  }
  
  .card-back {
    background-color: #800000;
    color: #e0e0e0;
  }
  
  .card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  /* Style for the toggle button when hovered */
#dark-mode-toggle:hover {
    background-color: #2980b9;
}